PORT=5000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password

CONTACT_RECEIVER=your-email@gmail.com

FRONTEND_URL=http://localhost:5181
